<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title>Réinitialiser le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center-container-mobile">
    <div class="center-container">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title>Mot de passe oublié ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Si vous avez oublié votre mot de passe, pas de panique ! 
        <br>Insérez dans le champ ci-dessous votre adresse mail, puis appuyez sur le bouton.
        <br>Un e-mail de réinitialisation sera envoyé à l'adresse associée à votre compte.</p>
      <form (submit)="requestReset()">
        <ion-item class="input-box">
          <ion-input
            label="Email"
            labelPlacement="floating"
            type="email"
            [(ngModel)]="email"
            name="email"
            required
          ></ion-input>
        </ion-item>

        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <ion-button class="button" expand="block" type="submit" color="danger">
          Réinitialiser mon mot de passe
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card></div></div>
</ion-content>
