.center-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-card {
    width: 100%;
  }


  .center-container-mobile {
    // Par défaut (desktop, tablette...), ne centre pas
    display: block;
    height: auto;
    width: 100%;
  
    // Activer centrage uniquement sur petits écrans
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: -50px;
    }
  }

  .button {
    margin-top: 30px;
  }

  
    .center-container {
      margin-top: 30px;
      background-color: white;
      border-radius: 16px;
      padding: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      width: 100%;
      max-width: 400px; // Par défaut, mobile
    
      @media (min-width: 768px) {
        max-width: 600px; // Sur écran plus large
      }
    
      @media (min-width: 1200px) {
        max-width: 100%; // Sur très grand écran
      }
    }

    ion-title {
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
    
      ion-card-title {
        font-weight: bold;
        font-size: 25px;
      }
    
      p {
        justify-content: center;
        margin-bottom: 10px;
      }