<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title>Réinitialiser le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center-container-mobile">
  <div class="center-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nouveau mot de passe</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Insérez ici votre nouvel mot de passe ! Il doit contenir au moins 6 caractéres.</p>
        <form (submit)="resetPassword()">
          <ion-item>
            <ion-input
              label="Nouveau mot de passe"
              type="password"
              [(ngModel)]="password"
              name="password"
              required
              minlength="6"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Confirmer le mot de passe"
              type="password"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              required
              minlength="6"
            ></ion-input>
          </ion-item>

          <div class="error-message" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>

          <ion-button class="button" expand="block" type="submit" color="danger">Valider</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div></div>
</ion-content>