<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title>À propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-container">
    <img src="assets/logo.png" alt="Logo" class="about-logo" />

    <h1 class="about-title">Bienvenue sur notre application</h1>
    <p class="about-text">
      L’Association Carabine Montpelliéraine est fière de vous présenter un projet de longue haleine réalisé par le Pôle Culture depuis près de trois ans.
      <br>
      ​Le Karab’s est un guide étudiant centré sur la ville de Montpellier, il a été conçu comme tel par et pour ses étudiant.e.s. Il a pour but de répertorier les établissements et les bons plans étudiants de la ville pour les faire connaître aux étudiants locaux et étrangers. <br> Il peut ainsi aussi bien servir de dénicheur de bonnes adresses pour les monteplliérain.ne.s que de guide touristique pour les nouveaux arrivants.
    </p>

    <p class="about-text">Le Karab’s est donc un livret de poche, qui se transporte aisément et s’emporte partout. En cas de manque d’inspiration, on le sort et trouve rapidement ce dont on a besoin. Il est par ailleurs articulé en 6 chapitres, résumés en 6 verbes.</p>
    
    <ion-list>
      <ion-item>
        <ion-label>
          <strong>Manger :</strong> le choix va des restaurants végétariens bio jusqu’au Kebab bien gras, en passant par les bonnes adresses immanquables de la ville.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Travailler :</strong> regroupe les espaces de travail tels que les bibliothèques universitaires (BU), les médiathèques, et les espaces de co-working, cafés littéraires et salons de thé.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>S’aérer :</strong> concerne les espaces verts, randonnées, lieux de jogging et de sport, ainsi que les espaces naturels à proximité de la ville.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Sortir :</strong> pour la nuit, on a mis les boîtes dans le chapitre « Boire », pour le jour ce sera à tendance plutôt insolite, comme des escape games, ou des classiques comme des sorties patinoire ou bowling.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Se Cultiver :</strong> ce sont les galeries d’art de la ville, les centres culturels de découverte, ou les salles de spectacle.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Boire :</strong> cela peut concerner un petit café en terrasse, le bar pour finir la nuit en chantant, ou la boîte qui animera vos jeudis soirs.
        </ion-label>
      </ion-item>
    </ion-list>
    
    <ion-card style="margin-bottom: 100px;">
      <ion-card-header>
        <ion-card-title>Notre mission</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Offrir un accès simple et rapide aux lieux qui comptent vraiment, et permettre aux utilisateurs de partager leurs expériences.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
