// Variables globales
$primary-color: #b22222; // Rouge foncé
$secondary-color: #f4f4f4;
$border-color: #e0e0e0;
$text-color: #333;

// Fond de page
ion-content {
  --background: $secondary-color;
  padding: 16px;
}

// Conteneur centré et fluide
.login-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; // centrage horizontal
}

// Carte principale avec bord arrondi et ombre
.login-card {
  // width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center; // Centre verticalement
  justify-content: center; // Centre horizontalement la ligne complète
  gap: 10px; // Espacement entre le logo et le titre
  margin-bottom: 30px;
  flex-direction: row; // Assure l'affichage en ligne
  
  .logo {
    width: 40px;
    height: 40px;
  }

  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary-color; // Couleur du titre
  }
}

// Champs de formulaire
.input-box {
  --background: #f2f4fa;
  --border-radius: 8px;
  margin-bottom: 20px;
}

// Lien mot de passe oublié
.forgot-password {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;

  a {
    color: #0056b3;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
  }
}

// Bouton d'inscription
.login-button {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 30px;
}

// Ligne séparatrice
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  color: $text-color;
  font-size: 0.9rem;

  .line {
    flex-grow: 1;
    height: 1px;
    background: $border-color;
    margin: 0 10px;
  }
}

// Boutons sociaux
.social-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10px;

  .facebook-button, .google-button {
    border-radius: 8px;
    width: 100%;
  }
}

// Bouton Apple
.apple-button {
  border-radius: 8px;
  width: 50%;
}

// Message d'erreur
.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
